<p><%= t("mailers.email_verification.verify.greeting") %></p>

<p>
  <%= t("mailers.email_verification.verify.instructions") %>
</p>

<p>
  <%= link_to t("mailers.email_verification.verify.action"), verify_email_url(token: @user.generate_token_for(:email_verification)) %>
</p>

<p><%= t("mailers.email_verification.verify.expiry") %></p>
